# TODO: avoids an issue with hanging forever in tests (CORESERV-12009).
jsonschema<4
mock
mypy
mypy-extensions
pre-commit
pytest
pytest-benchmark[histogram]
pytest-cov
types-mock
types-python-dateutil
types-pytz
types-pyyaml
types-requests
types-simplejson
types-six
